# Database Connection URL (e.g. PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@db:5400/portfolio_db?schema=public"

# Secret key for signing JWT session tokens
JWT_SECRET="your_jwt_secret_key_here"

# Port number for the tRPC backend server
PORT=4000
